@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.background {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.top-right-container {
    position: fixed;
    right: 50px;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time-now,
.date-day {
    font-size: 78px;
    font-weight: 300;
    font-family: Poppins;
}

.date-day {
    font-size: 16px;
}

.bottom-bar {
    position: fixed;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-search {
    display: flex;
    height: 48px;
    align-items: center;
    padding: 0px 8px;
    width: 80%;
    min-width: 200px;
    max-width: 600px;
    background-color: white;
    border-radius: 50px;
}

.container-search > div {
    height: 32px;
}

.search-bar {
    width: calc(100% - 48px);
}

input {
    border: none;
    width: calc(100% - 16px);
    height: 100%;
    outline: none;
    font-size: 24px;
    padding: 0px 8px;
    color: black;
    background-color: transparent;
    transition: all 0.2s;
    font-family: Roboto;
}

input::placeholder {
    color: white;
}

svg {
    fill: #bcc2ca;
    transition: all 0.2s;
}

.google-logo-svg,
.search-button-svg {
    fill: black;
}

.search-button-svg {
    cursor: pointer;
}

.search-button-svg:hover {
    fill: #bcc2ca;
}

.google-logo-svg:hover {
    fill: black;
}

svg:hover {
    fill: #ffffff;
}
